:root {
	color-scheme: light dark; /* both supported */
}


/*-----------*/
/*LIGHT THEME*/
/*-----------*/

body {
	--bkg-color: #f7f7f7;
	--txt01-color: #474747;
	--txt02-color: #474747;
	--pic-border-color: #ffffff;
	--btn-bkg-color: #ffffff;
	--anchor-color: #474747;
	--btn-svg-color: #e65e3b;
	--btn-hover-color: #ffe7d9; 
	--mode-txt-color: #e65e3b;
	--profile-pic-opacity: 1;
}

/*==========================*/

/*----------*/
/*DARK THEME*/
/*----------*/

body.dark-theme {
	--bkg-color: #202124;
	--txt01-color: #999da2;
	--txt02-color: #787676;
	--pic-border-color: #303134;
	--btn-bkg-color: #303134;
	--anchor-color: #5179b9; /*another option = #8ab4f8*/
	--btn-svg-color: #b53e23;
	--btn-hover-color: #372929; /*another option = #322222*/
	--mode-txt-color: #b53e23;
	--profile-pic-opacity: 0.9;
}

/*==========================*/


@media (prefers-color-scheme: dark) {
	
	/*------------------------*/
	/* defaults to dark theme */
	/*------------------------*/

	body {
		--bkg-color: #202124;
		--txt01-color: #999da2;
		--txt02-color: #787676;
		--pic-border-color: #303134;
		--btn-bkg-color: #303134;
		--anchor-color: #5179b9; /*another option = #8ab4f8*/
		--btn-svg-color: #b53e23;
		--btn-hover-color: #372929; /*another option = #322222*/
		--mode-txt-color: #b53e23;
		--profile-pic-opacity: 0.9;
	}

	/*==========================*/

	/*-----------------------------------------------------------------------*/
	/* Override dark mode with LIGHT mode styles if the user decides to swap */
	/*-----------------------------------------------------------------------*/
	
	body.light-theme {
		--bkg-color: #f7f7f7;
		--txt01-color: #474747;
		--txt02-color: #474747;
		--pic-border-color: #ffffff;
		--btn-bkg-color: #ffffff;
		--anchor-color: #474747;
		--btn-svg-color: #e65e3b;
		--btn-hover-color: #ffe7d9;
		--mode-txt-color: #e65e3b;
		--profile-pic-opacity: 1;
	}
}

/*==========================*/

/*------------------------*/
/* CUSTOM CSS*/
/*------------------------*/

body a {
	color: var(--anchor-color) !important;
}

.btn-toggle {
	padding: 0 !important;
	height: 1.2rem !important;
	background: none !important;
	cursor: pointer !important;
	--btn-hover-color: transparent;
}

#buttons02 .btn-toggle:hover span{;
	color: var(--mode-txt-color);
}

.btn-toggle-lbl {
	height: 2rem;
	line-height: 2rem;
}

.btn-svg {
	min-width: 20px !important;
}
/*
.profile-pic {
	opacity: var(--profile-pic-opacity) !important;
}*/


/*Theme CSS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	-webkit-text-size-adjust: none;
}
mark {
	background-color: transparent;
	color: inherit;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	line-height: 1;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: var(--bkg-color); /*#f7f7f7*/
}
body:before {
	background-attachment: scroll;
	content: "";
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22768%22%20height%3D%22432%22%20viewBox%3D%220%200%20768%20432%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20rect%20%7B%20fill%3A%20rgba(71,71,71,0.039)%3B%20transform%3A%20scale%28320%25%29%3B%20%7D%20%3C%2Fstyle%3E%20%3Crect%20x%3D%22578%22%20y%3D%22218%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.3%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%2210000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.3%3B0.9%3B0%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.3%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%2210000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22578%3B578%3B578%3B578%3B578%3B578%3B578%3B576%3B578%3B578%3B578%3B578%3B578%3B578%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%2210000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22218%3B218%3B218%3B218%3B218%3B218%3B218%3B216%3B218%3B218%3B218%3B218%3B218%3B218%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%2210000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%2210000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22602%22%20y%3D%2274%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.5%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%226348ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22544ms%22%20values%3D%220.5%3B0.9%3B0%3B0%3B0%3B0.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.5%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%226348ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22544ms%22%20values%3D%22602%3B602%3B602%3B602%3B602%3B602%3B602%3B600%3B602%3B602%3B602%3B602%3B602%3B602%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%226348ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22544ms%22%20values%3D%2274%3B74%3B74%3B74%3B74%3B74%3B74%3B72%3B74%3B74%3B74%3B74%3B74%3B74%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%226348ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22544ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%226348ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22544ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22362%22%20y%3D%2274%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%229696ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22632ms%22%20values%3D%220%3B0%3B0%3B0.2%3B0.9%3B0%3B0%3B0%3B0.4e0%3B0.9%3B1%3B0.9%3B0.4e0%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%229696ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22632ms%22%20values%3D%22362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B360%3B362%3B362%3B362%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%229696ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22632ms%22%20values%3D%2274%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B72%3B74%3B74%3B74%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%229696ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22632ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%229696ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22632ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22290%22%20y%3D%22362%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.2%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%223609ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.2%3B0.8%3B0%3B0%3B0%3B0.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.2%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%223609ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22290%3B290%3B290%3B290%3B290%3B290%3B290%3B288%3B290%3B290%3B290%3B290%3B290%3B290%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%223609ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22362%3B362%3B362%3B362%3B362%3B362%3B362%3B360%3B362%3B362%3B362%3B362%3B362%3B362%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%223609ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%223609ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%2250%22%20y%3D%22122%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.3e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%223000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.5%3B0.9%3B0%3B0%3B0%3B0.3e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%223000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2250%3B50%3B48%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%223000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22122%3B122%3B120%3B122%3B122%3B122%3B122%3B122%3B122%3B122%3B122%3B122%3B122%3B122%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%223000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%223000ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22674%22%20y%3D%22338%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%229087ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22208ms%22%20values%3D%220%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.4%3B0.8%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%229087ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22208ms%22%20values%3D%22674%3B674%3B674%3B674%3B674%3B672%3B674%3B674%3B674%3B674%3B674%3B674%3B674%3B674%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%229087ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22208ms%22%20values%3D%22338%3B338%3B338%3B338%3B338%3B336%3B338%3B338%3B338%3B338%3B338%3B338%3B338%3B338%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%229087ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22208ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%229087ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22208ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22698%22%20y%3D%2298%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.5e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%223913ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22531ms%22%20values%3D%220.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.3%3B0.7%3B0%3B0%3B0%3B0.5e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%223913ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22531ms%22%20values%3D%22698%3B698%3B696%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%223913ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22531ms%22%20values%3D%2298%3B98%3B96%3B98%3B98%3B98%3B98%3B98%3B98%3B98%3B98%3B98%3B98%3B98%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%223913ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22531ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%223913ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22531ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%2274%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.5e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%229391ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22658ms%22%20values%3D%220.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.2%3B0.8%3B0%3B0%3B0%3B0.5e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%229391ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22658ms%22%20values%3D%2274%3B74%3B72%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%3B74%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%229391ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22658ms%22%20values%3D%222%3B2%3B0%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%229391ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22658ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%229391ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22658ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22314%22%20y%3D%22218%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.2%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%224826ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.2%3B0.9%3B0%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.2%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%224826ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22314%3B314%3B314%3B314%3B314%3B314%3B314%3B312%3B314%3B314%3B314%3B314%3B314%3B314%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%224826ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22218%3B218%3B218%3B218%3B218%3B218%3B218%3B216%3B218%3B218%3B218%3B218%3B218%3B218%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%224826ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%224826ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22554%22%20y%3D%22314%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%228478ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220%3B0%3B0%3B0.2e0%3B0.9%3B1%3B0.9%3B0.2e0%3B0%3B0%3B0%3B0.3%3B0.9%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%228478ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22554%3B554%3B554%3B554%3B554%3B552%3B554%3B554%3B554%3B554%3B554%3B554%3B554%3B554%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%228478ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22314%3B314%3B314%3B314%3B314%3B312%3B314%3B314%3B314%3B314%3B314%3B314%3B314%3B314%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%228478ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%228478ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22434%22%20y%3D%22386%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%225435ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220%3B0%3B0%3B0.4e0%3B0.9%3B1%3B0.9%3B0.4e0%3B0%3B0%3B0%3B0.2%3B0.8%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%225435ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22434%3B434%3B434%3B434%3B434%3B432%3B434%3B434%3B434%3B434%3B434%3B434%3B434%3B434%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%225435ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22386%3B386%3B386%3B386%3B386%3B384%3B386%3B386%3B386%3B386%3B386%3B386%3B386%3B386%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%225435ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%225435ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%222%22%20y%3D%22362%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.5e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%225739ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22653ms%22%20values%3D%220.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.3%3B0.8%3B0%3B0%3B0%3B0.5e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%225739ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22653ms%22%20values%3D%222%3B2%3B0%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%225739ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22653ms%22%20values%3D%22362%3B362%3B360%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%3B362%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%225739ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22653ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%225739ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22653ms%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%2250%22%20y%3D%22266%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.3%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%227261ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.3%3B0.8%3B0%3B0%3B0%3B0.2e0%3B0.9%3B1%3B0.9%3B0.2e0%3B0%3B0%3B0%3B0.3%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%227261ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2250%3B50%3B50%3B50%3B50%3B50%3B50%3B48%3B50%3B50%3B50%3B50%3B50%3B50%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%227261ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22266%3B266%3B266%3B266%3B266%3B266%3B266%3B264%3B266%3B266%3B266%3B266%3B266%3B266%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%227261ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%227261ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22218%22%20y%3D%22146%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.4e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%228174ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.4e0%3B0.9%3B1%3B0.9%3B0.4e0%3B0%3B0%3B0%3B0.5%3B0.7%3B0%3B0%3B0%3B0.4e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%228174ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22218%3B218%3B216%3B218%3B218%3B218%3B218%3B218%3B218%3B218%3B218%3B218%3B218%3B218%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%228174ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22146%3B146%3B144%3B146%3B146%3B146%3B146%3B146%3B146%3B146%3B146%3B146%3B146%3B146%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%228174ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%228174ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22218%22%20y%3D%2226%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%227870ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.2%3B0.8%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%227870ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22218%3B218%3B218%3B218%3B218%3B216%3B218%3B218%3B218%3B218%3B218%3B218%3B218%3B218%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%227870ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2226%3B26%3B26%3B26%3B26%3B24%3B26%3B26%3B26%3B26%3B26%3B26%3B26%3B26%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%227870ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%227870ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22698%22%20y%3D%22194%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%226957ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220%3B0%3B0%3B0.3%3B0.7%3B0%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%226957ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B696%3B698%3B698%3B698%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%226957ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22194%3B194%3B194%3B194%3B194%3B194%3B194%3B194%3B194%3B194%3B192%3B194%3B194%3B194%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%226957ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%226957ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22194%22%20y%3D%22242%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%228783ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%220%3B0%3B0%3B0.2e0%3B0.9%3B1%3B0.9%3B0.2e0%3B0%3B0%3B0%3B0.2%3B0.8%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%228783ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%22194%3B194%3B194%3B194%3B194%3B192%3B194%3B194%3B194%3B194%3B194%3B194%3B194%3B194%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%228783ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%22242%3B242%3B242%3B242%3B242%3B240%3B242%3B242%3B242%3B242%3B242%3B242%3B242%3B242%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%228783ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%228783ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22698%22%20y%3D%222%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%226043ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220%3B0%3B0%3B0.5%3B0.8%3B0%3B0%3B0%3B0.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%226043ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B698%3B696%3B698%3B698%3B698%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%226043ms%22%20repeatCount%3D%22indefinite%22%20values%3D%222%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B2%3B0%3B2%3B2%3B2%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%226043ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%226043ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22458%22%20y%3D%22242%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%226652ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22614ms%22%20values%3D%220%3B0%3B0%3B0.5%3B0.9%3B0%3B0%3B0%3B0.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%226652ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22614ms%22%20values%3D%22458%3B458%3B458%3B458%3B458%3B458%3B458%3B458%3B458%3B458%3B456%3B458%3B458%3B458%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%226652ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22614ms%22%20values%3D%22242%3B242%3B242%3B242%3B242%3B242%3B242%3B242%3B242%3B242%3B240%3B242%3B242%3B242%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%226652ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22614ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%226652ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22614ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22170%22%20y%3D%22386%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%224522ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%220%3B0%3B0%3B0.4%3B0.9%3B0%3B0%3B0%3B0.4e0%3B0.9%3B1%3B0.9%3B0.4e0%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%224522ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%22170%3B170%3B170%3B170%3B170%3B170%3B170%3B170%3B170%3B170%3B168%3B170%3B170%3B170%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%224522ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%22386%3B386%3B386%3B386%3B386%3B386%3B386%3B386%3B386%3B386%3B384%3B386%3B386%3B386%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%224522ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%224522ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22716ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22530%22%20y%3D%22410%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.3%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%224217ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22886ms%22%20values%3D%220.3%3B0.9%3B0%3B0%3B0%3B0.3e0%3B0.9%3B1%3B0.9%3B0.3e0%3B0%3B0%3B0%3B0.3%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%224217ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22886ms%22%20values%3D%22530%3B530%3B530%3B530%3B530%3B530%3B530%3B528%3B530%3B530%3B530%3B530%3B530%3B530%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%224217ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22886ms%22%20values%3D%22410%3B410%3B410%3B410%3B410%3B410%3B410%3B408%3B410%3B410%3B410%3B410%3B410%3B410%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%224217ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22886ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%224217ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22886ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22482%22%20y%3D%2250%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220.5e0%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%223304ms%22%20repeatCount%3D%22indefinite%22%20values%3D%220.5e0%3B0.9%3B1%3B0.9%3B0.5e0%3B0%3B0%3B0%3B0.4%3B0.9%3B0%3B0%3B0%3B0.5e0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%223304ms%22%20repeatCount%3D%22indefinite%22%20values%3D%22482%3B482%3B480%3B482%3B482%3B482%3B482%3B482%3B482%3B482%3B482%3B482%3B482%3B482%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%223304ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2250%3B50%3B48%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%3B50%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%223304ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%223304ms%22%20repeatCount%3D%22indefinite%22%20values%3D%2220%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%20%3Crect%20x%3D%22458%22%20y%3D%22146%22%20width%3D%2220%22%20height%3D%2220%22%20fill-opacity%3D%220%22%3E%20%3Canimate%20attributeName%3D%22fill-opacity%22%20dur%3D%225130ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22932ms%22%20values%3D%220%3B0%3B0%3B0.2e0%3B0.9%3B1%3B0.9%3B0.2e0%3B0%3B0%3B0%3B0.3%3B0.7%3B0%22%20%2F%3E%20%3Canimate%20attributeName%3D%22x%22%20dur%3D%225130ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22932ms%22%20values%3D%22458%3B458%3B458%3B458%3B458%3B456%3B458%3B458%3B458%3B458%3B458%3B458%3B458%3B458%22%20%2F%3E%20%3Canimate%20attributeName%3D%22y%22%20dur%3D%225130ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22932ms%22%20values%3D%22146%3B146%3B146%3B146%3B146%3B144%3B146%3B146%3B146%3B146%3B146%3B146%3B146%3B146%22%20%2F%3E%20%3Canimate%20attributeName%3D%22width%22%20dur%3D%225130ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22932ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3Canimate%20attributeName%3D%22height%22%20dur%3D%225130ms%22%20repeatCount%3D%22indefinite%22%20begin%3D%22932ms%22%20values%3D%2220%3B20%3B20%3B20%3B20%3B24%3B20%3B20%3B20%3B20%3B20%3B20%3B20%3B20%22%20%2F%3E%20%3C%2Frect%3E%3C%2Fsvg%3E");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}
html {
	font-size: 17pt;
}
u {
	text-decoration: underline;
}
strong {
	color: inherit;
	font-weight: bolder;
}
em {
	font-style: italic;
}
code {
	background-color: rgba(144, 144, 144, 0.25);
	border-radius: 0.25em;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}
mark {
	background-color: rgba(144, 144, 144, 0.25);
}
s {
	text-decoration: line-through;
}
sub {
	font-size: smaller;
	vertical-align: sub;
}
sup {
	font-size: smaller;
	vertical-align: super;
}
a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}
#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}
#main {
	--alignment: right;
	--flex-alignment: flex-end;
	--indent-left: 0;
	--indent-right: 1;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1.375s ease-in-out 0s;
}
#main > .inner {
	--padding-horizontal: 4rem;
	--padding-vertical: 4rem;
	--spacing: 0rem;
	--width: 70rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr)
	var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}
#main > .inner > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}
#main > .inner > :first-child {
	margin-top: 0 !important;
}
#main > .inner > :last-child {
	margin-bottom: 0 !important;
}
#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}
#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}
body.is-loading #main {
	opacity: 0;
}
body.is-instant #main,
body.is-instant #main > .inner > *,
body.is-instant #main > .inner > section > * {
	transition: none !important;
}
body.is-instant:after {
	display: none !important;
	transition: none !important;
}
@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.deferred:before {
	content: "";
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}
.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}
.container {
	position: relative;
}
.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}
.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}
#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#container02 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
#container02 > .wrapper > .inner {
	--gutters: 8rem;
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	--spacing: 1.25rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}
#container02 > .wrapper {
	max-width: var(--width);
	width: 100%;
}
#container02.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}
#container02.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}
#container02.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}
#container02.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
#container02.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}
#container02.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}
#container02.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}
#container02.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}
#container02.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}
#container02.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}
#container02.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#container02.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#container02.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}
#container02.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(
		100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
	);
}
#container02.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(
		100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
	);
}
#container02.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}
#container02.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#container02.columns > .wrapper > .inner > .full {
	align-self: stretch;
}
#container02.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}
#container02.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}
#container02.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}
#container02.columns
> .wrapper
> .inner
> .full
> .full:first-child:last-child
> * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}
#container02 > .wrapper > .inner > :nth-child(1) {
	width: calc(55% + (var(--gutters) / 2));
}
#container02 > .wrapper > .inner > :nth-child(2) {
	width: calc(45% + (var(--gutters) / 2));
}
h1,
h2,
h3,
p {
	direction: var(--site-language-direction);
	position: relative;
}
h1 span.p,
h2 span.p,
h3 span.p,
p span.p {
	display: block;
	position: relative;
}
h1 span[style],
h2 span[style],
h3 span[style],
p span[style],
h1 strong,
h2 strong,
h3 strong,
p strong,
h1 a,
h2 a,
h3 a,
p a,
h1 code,
h2 code,
h3 code,
p code,
h1 mark,
h2 mark,
h3 mark,
p mark {
	-webkit-text-fill-color: currentcolor;
}
#text01 {
	color: var(--txt01-color); /*#474747*/
	font-family: "Inconsolata", monospace;
	letter-spacing: 0.125rem;
	width: calc(100% + 0.125rem);
	font-size: 3.75em;
	line-height: 1.125;
	font-weight: 700;
}
#text01 a {
	text-decoration: underline;
}
#text01 a:hover {
	text-decoration: none;
}
#text01 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}
#text02 {
	color: var(--txt02-color); /*#474747*/
	font-family: "Inconsolata", monospace;
	letter-spacing: 0.125rem;
	width: calc(100% + 0.125rem);
	font-size: 1em;
	line-height: 1.875;
	font-weight: 400;
}
#text02 a {
	text-decoration: underline;
}
#text02 a:hover {
	text-decoration: none;
}
#text02 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}
.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}
.buttons li {
	max-width: 100%;
}
.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
#buttons02 {
	gap: 1rem;
	flex-direction: row;
	flex-wrap: wrap;
}
#buttons02:not(:first-child) {
	margin-top: 1.75rem !important;
}
#buttons02:not(:last-child) {
	margin-bottom: 1.75rem !important;
}
#buttons02 li a {
	display: inline-flex;
	width: auto;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.5rem;
	vertical-align: middle;
	font-family: "Inconsolata", monospace;
	letter-spacing: 0.125rem;
	padding-left: calc(0.125rem + 1.5rem);
	font-size: 1em;
	font-weight: 400;
	border-radius: 0.125rem;
	transition: color 0.25s ease, background-color 0.25s ease,
	border-color 0.25s ease;
}
#buttons02 li a svg {
	display: block;
	fill: #474747;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	min-width: 16px;
	width: 1em;
	margin-left: -0.125em;
	margin-right: calc(0.5em + 0.125rem);
	transition: fill 0.25s ease;
}
#buttons02 li a .label {
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
}
#buttons02 .button {
	background-color: var(--btn-bkg-color); /*#ffffff*/
	color: #474747;
}
#buttons02 .button svg {
	fill: var(--btn-svg-color); /*#e65e3b*/
}
#buttons02 .button:hover {
	background-color: var(--btn-hover-color) !important; /*#ffe7d9*/
}
.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
	opacity: var(--profile-pic-opacity);
}
.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}
.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}
.image.full .frame {
	display: block;
}
.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#image01 .frame {
	width: 100vw;
	border-color: var(--pic-border-color); /*#ffffff*/
	border-style: solid;
	border-width: 4px;
	border-radius: 0.125rem !important;
}
#image01 img {
	height: 100% !important;
	object-fit: cover;
	object-position: center;
	width: 100% !important;
}
#image01 .frame img {
	transition: transform 0.25s ease, filter 0.25s ease;
}
#image01 .frame:hover img {
	transform: scale(1.025);
}
.icc-credits {
	display: block;
	opacity: 1 !important;
	position: relative;
	transition-delay: 0s !important;
}
.icc-credits span {
	border-radius: 24px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 1;
	position: relative;
	text-decoration: none;
	width: auto;
}
.icc-credits span a {
	display: inline-block;
	padding: 0.5em 0.375em;
	position: relative;
	text-decoration: none;
	transition: color 0.25s ease, transform 0.25s ease;
	z-index: 1;
}
.icc-credits span a:before {
	content: "( ";
		opacity: 1;
		transition: opacity 0.25s ease;
	}
	.icc-credits span a:after {
		content: " )";
		opacity: 1;
		transition: opacity 0.25s ease;
	}
	.icc-credits span::after {
		background-image: linear-gradient(30deg, #a464a1 15%, #3b5dad 85%);
		border-radius: inherit;
		box-shadow: 0 0.25em 1.25em 0 rgba(0, 0, 0, 0.25);
		content: "";
		display: block;
		height: calc(100% + 2px);
		left: -1px;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: -1px;
		transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
		width: calc(100% + 2px);
	}
	.icc-credits span:hover {
		text-transform: none !important;
	}
	.icc-credits span:hover a {
		color: #ffffff !important;
		transform: scale(1.1) translateY(-0.05rem);
	}
	.icc-credits span:hover a:before {
		opacity: 0;
	}
	.icc-credits span:hover a:after {
		opacity: 0;
	}
	.icc-credits span:hover::after {
		opacity: 1;
		transform: scale(1.1) translateY(-0.05rem);
	}
	#credits span {
		color: rgba(71, 71, 71, 0.498);
		margin-top: 1.5rem !important;
	}
	@media (max-width: 1920px) {
	}
	@media (max-width: 1680px) {
		html {
			font-size: 12pt;
		}
	}
	@media (max-width: 1280px) {
		html {
			font-size: 12pt;
		}
	}
	@media (max-width: 1024px) {
	}
	@media (max-width: 980px) {
		html {
			font-size: 11pt;
		}
	}
	@media (max-width: 736px) {
		html {
			font-size: 12pt;
		}
		#main {
			--alignment: center;
			--flex-alignment: center;
			--indent-left: 1;
			--indent-right: 1;
		}
		#main > .inner {
			--padding-horizontal: 2rem;
			--padding-vertical: 2rem;
			--spacing: 0rem;
		}
		#container02 > .wrapper > .inner {
			--gutters: 4rem;
			--padding-horizontal: 0rem;
			--padding-vertical: 0rem;
			--spacing: 1.25rem;
		}
		#container02.columns > .wrapper > .inner {
			flex-direction: column-reverse !important;
			flex-wrap: nowrap !important;
		}
		#container02.columns > .wrapper > .inner > span {
			height: 0;
			margin-top: calc(var(--padding-vertical) * -2);
			pointer-events: none;
			visibility: hidden;
		}
		#container02.columns > .wrapper > .inner > *:first-child {
			margin-left: 0 !important;
			padding-bottom: 0 !important;
		}
		#container02.columns > .wrapper > .inner > * {
			padding: calc(var(--gutters) * 0.5) 0 !important;
		}
		#container02.columns > .wrapper > .inner > *:last-child {
			padding-top: 0 !important;
		}
		#container02.columns > .wrapper > .inner > div > .full {
			margin-left: calc(var(--padding-horizontal) * -1);
			width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
		}
		#container02.columns > .wrapper > .inner > div:first-of-type > .full {
			margin-left: calc(var(--padding-horizontal) * -1);
			width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
		}
		#container02.columns > .wrapper > .inner > div:last-of-type > .full {
			margin-left: calc(var(--padding-horizontal) * -1);
			width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
		}
		#container02.columns > .wrapper > .inner > div > .full:first-child {
			margin-top: calc(var(--gutters) * -0.5) !important;
		}
		#container02.columns > .wrapper > .inner > div > .full:last-child {
			margin-bottom: calc(var(--gutters) * -0.5) !important;
		}
		#container02.columns
		> .wrapper
		> .inner
		> div:last-of-type
		> .full:first-child {
			margin-top: calc(var(--padding-vertical) * -1) !important;
		}
		#container02.columns
		> .wrapper
		> .inner
		> div:first-of-type
		> .full:last-child {
			margin-bottom: calc(var(--padding-vertical) * -1) !important;
		}
		#container02.columns > .wrapper > .inner > div:last-of-type,
		#container02.columns
		> .wrapper
		> .inner
		> div:last-of-type
		> .full:first-child {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
		}
		#container02.columns > .wrapper > .inner > div:first-of-type,
		#container02.columns
		> .wrapper
		> .inner
		> div:first-of-type
		> .full:last-child {
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;
		}
		#container02.columns > .wrapper > .inner > div:last-of-type,
		#container02.columns
		> .wrapper
		> .inner
		> div:last-of-type
		> .full:last-child {
			border-bottom-right-radius: 0 !important;
		}
		#container02.columns > .wrapper > .inner > div:first-of-type,
		#container02.columns
		> .wrapper
		> .inner
		> div:first-of-type
		> .full:first-child {
			border-top-left-radius: 0 !important;
		}
		#container02.columns
		> .wrapper
		> .inner
		> .full
		> .full:first-child:last-child {
			height: auto;
		}
		#container02.columns
		> .wrapper
		> .inner
		> .full
		> .full:first-child:last-child
		> * {
			height: auto;
			position: relative;
			width: auto;
		}
		#container02 > .wrapper > .inner > :nth-child(1) {
			min-height: 100% !important;
			width: 100% !important;
		}
		#container02 > .wrapper > .inner > :nth-child(2) {
			min-height: 100% !important;
			width: 100% !important;
		}
		#text01 {
			letter-spacing: 0.109375rem;
			width: calc(100% + 0.109375rem);
			font-size: 3em;
			line-height: 1.25;
		}
		#text02 {
			letter-spacing: 0.109375rem;
			width: calc(100% + 0.109375rem);
			font-size: 1em;
			line-height: 1.875;
		}
		#buttons02 {
			gap: 1rem;
		}
		#buttons02:not(:first-child) {
			margin-top: 1.3125rem !important;
		}
		#buttons02:not(:last-child) {
			margin-bottom: 1.3125rem !important;
		}
		#buttons02 li a {
			letter-spacing: 0.125rem;
			padding-left: calc(0.125rem + 1.5rem);
			font-size: 1em;
		}
		#buttons02 li a svg {
			width: 1em;
		}
		#image01 .frame {
			height: 18.75rem !important;
		}
		#image01 img {
			height: 100% !important;
			object-fit: cover;
			object-position: center;
			width: 100% !important;
		}
	}
	@media (max-width: 480px) {
		#main > .inner {
			--spacing: 0rem;
		}
		#container02 > .wrapper > .inner {
			--spacing: 1.09375rem;
		}
		#buttons02 {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		#buttons02 li a {
			max-width: 32rem;
			width: 100%;
		}
		#image01 .frame {
			height: 15rem !important;
		}
	}
	@media (max-width: 360px) {
		#main > .inner {
			--padding-horizontal: 1.5rem;
			--padding-vertical: 1.5rem;
			--spacing: 0rem;
		}
		#container02 > .wrapper > .inner {
			--gutters: 4rem;
			--padding-horizontal: 0rem;
			--padding-vertical: 0rem;
			--spacing: 0.9375rem;
		}
		#text01 {
			font-size: 3em;
		}
		#text02 {
			font-size: 1em;
		}
		#buttons02 {
			gap: 0.75rem;
		}
		#image01 .frame {
			height: 13.125rem !important;
		}
	}

/*HIDE TUMBLR REFERENCE*/
.tmblr-iframe--follow-teaser.center {
	display: none !important;
}
.tmblr-iframe-compact .tmblr-iframe--unified-controls {
	display: none !important;
}

.follow-teaser {
	display: none !important;
}

.tmblr-iframe-pushdown {
	padding-top: 0 !important;
}

.tmblr-iframe--app-cta-button {
	display: none !important;
}

.tmblr-iframe--unified-controls {
	display: none !important;
}
/* end of HIDE TUMBLR REFERENCE*/
